.repeater-field-info_icon textarea{
    height: 30px;
}
#input_blog_layout > label,
#input_single_post_layout > label{
	margin-right: 15px;
	margin-top: 11px;
}
.demos-container .description{
	margin: 30px 0;
	font-size: 16px;
}
form.demo-selector{
    margin: 15px;
}
.demo-title span{
	margin-left: 5px;
    background: #FFDE00 !important;
    color: #000000;
    -webkit-border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    line-height: 0;
}